$total-white: #fff;
$white: #fdfdfd;
$gray: #f4f4f4;
$middle-gray: #d2d2d2;
$dark-gray: #828282;
$total-black: #000;
$blue: #4096ff;
$light-blue: #e1f6ff;
$dark-blue: #2c62b4;

$accent-color: $blue;
$text-color: $total-black;
$secondary-text: $dark-gray;
$body-bg: $middle-gray;
$main-bg-color: $total-white;
$secondary-bg-color: $white;
$border-color: $gray;
